body
{
    margin: 0;
    background-color: #161122;
    color: white;
    font-family: monospace;
    font-size: 16px;
}

.box-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1
{
    margin: 35px;
}
.box 
{
    width: 45px;
    height: 45px;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg,#eec0c6 10% ,#7ee8fa 50%);
    box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
    animation: changeshape 3s infinite; 
}

@keyframes changeshape
{
    0%
    {
    margin: 25px;border-radius: 100%;
    }
    30%
    {
    margin: 25px;border-radius: 100%;
    transform: translateY(-80px);
    }
    60%
    {
    margin: -22px;border-radius: 0%;
    transform: translateY(-80px);
    }
    90%
    {
    margin: -22px ;border-radius: 0%;
    transform: translateY(0px);
    }
    100%
    {
    margin: 25px;border-radius: 100%;
    }
}
